<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <p th:text="#{footer.text}">De studiefiches van de opleidingen van de Plantijnhogeschool van 2007-08 t.e.m. 2012-13
        kan u terugvinden op <a href="http://ects.plantijn.be">http://ects.plantijn.be</a></p>
    <p th:text="#{footer.adress}">LANGE NIEUWSTRAAT 101 | 2000 ANTWERPEN | BELGI&Euml; T +32 (0)3 220 54 00 | INFO@AP.BE
        COPYRIGHT 2013 - 2019 ALL RIGHTS RESERVED</p>
    <div class="rights-totop-container">
        <div class="rights-totop">
            <span th:text="#{label.copyright}">&copy; 2018 All rights reserved</span>
            <span><a href="#" th:text="#{toTop}">Terug naar boven</a></span>
        </div>
    </div>
</footer>