<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/500.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <title>500 - Error</title>
</head>
<body>
    <div class="error-container">
        <div class="error-container-overlay">
            <div class="error-content">
                <div class="ap-logo">
                    <a href="/opleidingen/2018-19"><img th:src="@{/img/logo-ap.png}" width="300" alt="AP logo"></a>
                </div>
                <div class="error-message">
                    <h1>500</h1>
                    <p>Oops! Something went wrong on our end!</p>
                    <a href="/opleidingen/2018-19">HOME</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>